@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.bars{
    color: #fff;
    margin: 19px;
    font-size: 20px;
    pointer-events: none;
    opacity: 0;
}
nav{
    margin-bottom: 100px;
}
nav > ul {
    position: absolute;
}
nav > ul > li{
    display: inline-block;
    padding: 25px;
}
@media only screen and (max-width:480px) {
    nav > ul > li{
        display: block;
    }
    .bars{
        opacity: 1;
        pointer-events: all;
    }
    .un-list{
        transition: all .5s;

    }
    .un-after{
        opacity: 0;
        pointer-events: none;
    }
}
.container{
    display: flex;
}
.div-1{
    width: 40%;
    height: 400px;
    background: rgb(255, 22, 22);
    border-radius: 25px;
    margin: 20px;
}
.div-2{
    width: 55%;
    height: 400px;
    background: rgb(41, 255, 22);
    border-radius: 25px;
    margin: 20px;
}


